{% extends 'base.htm' %}
{% block content %}
<div class="row no-gutters" style="background: none;">
    <div class="col-md-8 offset-md-2 col-sm-12" style="background: none;">
      <p>City: {{ request.user.glamember.city }}</p>
      <form method="POST" enctype="multipart/form-data" data-branches-url="{% url 'ajax_load_branches' %}" class="form form-control">{% csrf_token %}
        {{ form.errors }}
{{ form.non_field_errors }}
        <div class="form-row" style="background: none;">
          <div class="col-2">{{ form.username.label }}</div>
          <div class="col-4">{{ form.username }}</div>
          <div class="col-2">{{ form.name.label }}</div>
          <div class="col-4">{{ form.name }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.gender.label }}</div>
          <div class="col-4">{{ form.gender }}</div>
          <div class="col-2">{{ form.email.label }}</div>
          <div class="col-4">{{ form.email }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.dob.label }}</div>
          <div class="col-4">{{ form.dob }}</div>
          <div class="col-2">{{ form.phone.label }}</div>
          <div class="col-4">{{ form.phone }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.state.label }}</div>
          <div class="col-4">{{ form.state }}</div>
          <div class="col-2">{{ form.city.label }}</div>
          <div class="col-4">{{ form.city }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.course.label }}</div>
          <div class="col-4">{{ form.course }}</div>
          <div class="col-2">{{ form.branch.label }}</div>
          <div class="col-4">{{ form.branch }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.year.label }}</div>
          <div class="col-4">{{ form.year }}</div>
          <div class="col-2">{{ form.rollno.label }}</div>
          <div class="col-4">{{ form.rollno }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.joined_in.label }}</div>
          <div class="col-4">{{ form.joined_in }}</div>
          <div class="col-2">{{ form.working_days.label }}</div>
          <div class="col-4">{{ form.working_days }}</div>
        </div>
        <div class="form-row">
          <div class="col-2">{{ form.preferred_days.label }}</div>
          <div class="col-4">{{ form.preferred_days }}</div>
          <div class="col-2">{{ form.photo.label }}</div>
          <div class="col-4">{{ form.photo }}</div>
        </div>
      <button type="submit" class="btn btn-success" id='posup'>Create Profile</button>
    </form> 
   </div>
</div>
     <!-- {% if request.user.glamember %}
    <p>Profile for {{ request.user }} already exists. Check it <a href='{{ request.user.glamember.get_absolute_url }}'>here</a></p>
  {% else %} -->
  <!-- {% endif %} -->
{% endblock %}
