{% extends 'base.htm' %}
{% load static %}

{% block content %}

<div class="row no-gutters justify-content-center align-items-center">
  <div class="col-sm-12 d-flex justify-content-left">
    <div class="underline"><h3>Enter new password</h3></div>
  </div>
  <div class="col-sm-12">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  </div>
  <div class="col-md-4 col-sm-12">
    <form method='post'>{% csrf_token %}
      {% for field in form %}
      <div class="form-row no-gutters">
        <div class="col-sm-12">
          <div class="inputDiv">
            {{ field }}
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {% if field.errors %}
              {% for error in field.errors %}
                <p style="color:red"><i><small>{{ error }}</small></i></p>
              {% endfor %}
            {% else %}
              {% if field.help_text %}
                <p class="help-text"><i><small class="help-block" style="color:grey">{{ field.help_text }}</small></i></p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-row no-gutters">
        <div class="col-sm-12">
          <div class="inputDiv">
            <button class="btn btn-sm btn-success login" type="submit" name="Send email" value="Change my password">Change my password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock content %}

