{% extends 'base.htm' %}

{% block content %}
<div class="row no-gutters justify-content-center align-items-center">
  <div class="col-md-5 col-sm-12" style="background-color: pink;">
    <div class="form-wrapper">
      <form method="post">{% csrf_token %}
        {% for field in form %}
          <div class="form-row">
            <div class="col-sm-12">
              <div class="inputDiv">
                {{ field }}
                {{ field.label_tag }}
                {% if field.errors %}
                  {% for error in field.errors %}
                    <p style="color:red"><small>{{ error }}</small</p>
                  {% endfor %}
                {% else %}
                  {% if field.help_text %}
                    <small style="color:grey">{{ field.help_text }}</small>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="form-row">
          <div class="col-md-12">
            <div class="inputDiv">
              <button type="submit" class="btn btn-sm btn-success login">Sign up</button>
            </div>
          </div>
        </div>
      </form>
      <div class="inputDiv">
        <small>Have an existing account? <a href='{% url "login" %}'>Log in</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
